body{
    margin:0;
    background-color:black;
    overflow:hidden;
}
canvas{
  position: absolute;
}

#collision{
    z-index:-1;
}

#chat{
    position:fixed;
    width:400px;
    height:200px;
    background-color:white;
    z-index:1;
    bottom:0;
    right:0;
    background-color:#3A3A3A;
    border-radius:5px;
}
#chat:not(:hover){
    opacity:0.6;
}

#messages{
    margin: 0;
    height:173px;
    overflow-y:scroll;
    padding-top:10px;
    color:white;
}

#messages span{
    color:#6464C0;
    padding:5px;
}

#chat input{
    position:absolute;
    bottom:0;
    width:100%;
    border-radius:5px;
    border:none;
}

#shit {
  display:none;
}
